<h1 align="center" class="display-4 mb-5">Delete Product</h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!--Id-->
        <div class="form-group">
            <label for="productId">Code</label>
            <input  [(ngModel)]="product.productId" type="text"
                   class="form-control form-control-lg" #productIdInput [readOnly]="true"
                   id="productId" name="productId" required #productId="ngModel" >
        </div>
        <!--Photo-->
        <div class="form-group">
            <label>Photo Link</label>
            <input [readOnly] = "true" [(ngModel)]="product.productImage" type="text" class="form-control form-control-lg" id="productImage"
                   name="productImage" placeholder="Photo">
        </div>

        <!--Name-->
        <div class="form-group">
            <label>Name</label>
            <input [readOnly] = "true" [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
                   #productName="ngModel"
                   name="productName" placeholder="Name" required>
        </div>

        <!--Category-->
        <div class="form-group">
            <label for="categoryType">Category</label>
            <input [readOnly] = "true" class="form-control form-control-lg " id="categoryType" name="categoryType"
                    [(ngModel)]="product.categoryType"
                    required>
        </div>

        <!--Description-->
        <div class="form-group">
            <label>Description</label>
            <textarea [readOnly] = "true" class="form-control form-control-lg text-left"
                      id="productDescription" name="productDescription"
                      placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
        </div>
        <!--Price-->
        <div class="form-group">
            <label for="productPrice">Price</label>
            <input [readOnly] = "true" class="form-control form-control-lg"
                   type="number"
                   id="productPrice"
                   name="productPrice"
                   #productPrice="ngModel"
                   [ngModel]="product.productPrice" (ngModelChange)="product.productPrice=$event"
                   required>
        </div>
        <!--Stock-->
        <div class="form-group">
            <label for="productStock">Stock</label>
            <input [readOnly] = "true" class="form-control form-control-lg"
                   type="number"
                   id="productStock"
                   name="productStock"
                   min="0" #productStock="ngModel"
                   [(ngModel)]="product.productStock"
                   required>
        </div>
        <!--Status-->
        <div class="form-group">
            <label for="productStatus">Status</label>
            <input [readOnly] = "true" class="form-control form-control-lg " id="productStatus" name="productStatus"
                    [(ngModel)]="product.productStatus">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Delete</button>
        </div>
    </form>


</div>
