<app-navigation></app-navigation>
<div class="container main-content">

  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Contact Us:
      </p>
    </section>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/cloud.ahh" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/vah102" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Final Project - Database Lab - Group 8
      </p>
    </section>
  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://www.facebook.com/groups/321618842284304">Sinh vien lop thay Phuong</a>
  </div>
</footer>
