.product-name{
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

h1{
  margin-top: 50px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}
